<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <!--<div id="window_ChatMessage" style="display:none;">
        <br />
        Ingrese su inquietud para que un ejecutivo de servicio pueda dar una respuesta oportuna.<br /><br />
        <textarea id="txt_ChatMessage" cols="75" rows="8"></textarea><br /><br />
        <button id="btn_SendChat">Iniciar Chat de Servicio al Cliente</button>
    </div>
    <div data-tooltip title="Necesita ayuda?" style="position:fixed; bottom: 0px; right: 15px; width:217; height:30px; text-align:center">
        <a href="javascript:ShowChatMessage();" style="border-style:none;"><img src="../images/CSaC.png" width="217" height="30" alt="chat" /></a>
    </div>-->


    <div style="width:100%; background-color:#0b76ca; text-align:center; color:white;">
        <br /><br />
        <div style="width:85%; display:inline-block; text-align:left;">
            Contáctanos:
            <hr />
            <div style="margin-left:10vw;width:70%">
                <!--<div style="width:30%; min-width: 150px; display:inline-block;vertical-align:top; margin-top: 10px; margin-bottom:10px;">
        <b>Asistencia Médica 24/7</b><br />Quito/Sierra<br />(02) 6020920 Opción 1<br />Guayaquil / Costa<br />(04) 6020920 Opción 1 <br /><b>DR SALUD 24/7.</b><br />Quito (02) 6020920 /<br /> Guayaquil (04) 6020920 <br /> Opción 1
    </div>-->
                <div style="width:30%;min-width: 150px; display:inline-block;vertical-align:top;margin-top: 10px; margin-bottom:10px;"><b>PERSONAL.</b><br />Caiza Luis<br />Chicaiza Doris.<br />Logro Blanca.<br />Tigse Christian</div>
                <div style="width:30%; min-width: 150px;display:inline-block;vertical-align:top;margin-top: 10px; margin-bottom:10px;"><b>Teléfonos</b><br />0983952965<br />0997835381<br/>0983634431<br/>0981332363</div>
                <div style="width:30%; min-width: 150px;display:inline-block;vertical-align:top;margin-top: 10px; margin-bottom:10px;"><b>Redes Sociales</b><br /><a href="https://www.facebook.com" style="color: #ffffff;" target="_blank">Facebook</a><br /><a href="https://twitter.com" style="color: #ffffff;" target="_blank">Twitter</a><br /><a href="https://www.instagram.com" style="color: #ffffff;" target="_blank">Instagram</a></div>

            </div>
        </div>
        <br /><br />
    </div>
    
    <div style="width:100%; background-color:#034694; text-align:center; color:#ffffff;padding-top: 10px; padding-bottom:10px;">SGRC S.A. - Todos los derechos reservados &copy; <div id="year" style="display:inline-block;"></div></div>
</body>
</html>