<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
    </style>
</head>
<body>
    <div style="width:100%">
        <div id="mmenu"><button id="btn_mmenu" style="background-color:transparent;"><img src="../Images/mmenu.png" /></button></div>
        <div id="links">
            <ul>
                <li id="Initseparator" style="width:28vw;" disabled>&nbsp;</li>
                <li>
                    <a href="Home.html">Gestionar Activos</a>
                </li>                
                <li>
                    <img src="../Images/perfil.png" />&nbsp;&nbsp;Cuenta
                    <ul>
                        <li>
                            <div style="margin: 15px 15px 15px 15px; width: 400px;">
                                
                                <div>
                                    <div style="display:inline-block; vertical-align:top;">
                                        <a href="javascript:CerrarSesion();"><img src="../Images/btnCerrarSesion.jpg" /></a>
                                    </div>
                                    <div class="menutextBlock">
                                        Termina la sesión actual<br />
                                        y regresa a la pantalla<br />
                                        de ingreso.
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>


                </li>
                <!--<span class="stretch"></span>-->
            </ul>
        </div>
        <div id="mlinks"></div>
    </div>
    

</body>
</html>